@import 'tailwindcss';

:root {
  --primary: 220 68% 42%;
  --primary-foreground: 208 94% 87%;
  --text-h: 220 55% 21%;
}

@theme inline {
  --color-app-primary: hsl(var(--primary));
  --color-app-primary-foreground: hsl(var(--primary-foreground));
  --color-app-text-h: hsl(var(--text-h));

  --color-custom-50: #fff1f1;
  --color-custom-100: #ffe0e0;
  --color-custom-200: #ffc7c7;
  --color-custom-300: #ffa0a0;
  --color-custom-400: #ff6969;
  --color-custom-500: #f93a3a;
  --color-custom-600: #e61919;
  --color-custom-700: #c21313;
  --color-custom-800: #a01414;
  --color-custom-900: #851717;
  --color-custom-950: #480707;
}
